$imgAboutImg:'../../public/Img/header.webp';

.container-about-us{
    padding: 20% 0;
    background:  linear-gradient(to bottom, $main-color,$second-color ),url($imgAboutImg)  100% 50% no-repeat;
    background-size: 200%;
    .about-us-card{
        background-color:$main-color;
        color: white;
        opacity: 0.85;
        max-width: 70vw;
        text-align: center;
        margin: 0 auto;
        animation-name: display-message;
        animation-duration: 3s;
        .ant-card-head{
            color: white;
        }
        @keyframes display-message{
            from{opacity: 0;}
            to{opacity: 1;}
        }
    }
}