
$imgMisionVision:'../../public/Img/paralax.webp';

.MisionVision{
    background: url($imgMisionVision)  100% 50% no-repeat fixed;
    background-size: 250%;
    padding: 10% 0;
    .MisionVision-card{
        margin: 0 auto;
        text-align: center;
        .misionvision-card-component{
            background-color:$base-color;
            color: white;
            opacity: .8;
            margin: 0 50px;
        }
    }
}